.user-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-card-container {
  width: 400px;
  padding: 2rem;
  margin: 2rem;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 15px;
}

.card-imge {
  border-radius: 100%;
  text-align: center;
  margin: 0rem auto 2rem auto;
}

.card-title {
  font-weight: bold;
}
